# Homework

## Dataset

### Importazione

In [80]:
import pandas as pd
path_white = "/Users/nicolomelchioretto/venv/UniMIB/DataProcessingAndAnalysis/Homework/wine+quality/winequality-white.csv"
path_red = "/Users/nicolomelchioretto/venv/UniMIB/DataProcessingAndAnalysis/Homework/wine+quality/winequality-red.csv"

white_data = pd.read_csv(path_white, sep = ";")
red_data = pd.read_csv(path_red, sep = ";")

### Descrizione

In [46]:
print(f'Il dataset dei vini bianchi ha {len(white_data)} righe.\nIl dataset dei vini rossi ha {len(red_data)} righe.')

Il dataset dei vini bianchi ha 4898 righe.
Il dataset dei vini rossi ha 1599 righe.

In [47]:
red_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [64]:
white_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [65]:
white_data.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
2329,7.6,0.30,0.40,2.2,0.054,29.0,175.0,0.99445,3.19,0.53,9.8,5
4814,5.7,0.40,0.35,5.1,0.026,17.0,113.0,0.99052,3.18,0.67,12.4,6
1503,6.8,0.36,0.24,4.6,0.039,24.0,124.0,0.99090,3.27,0.34,12.6,7
658,6.6,0.27,0.25,3.1,0.052,41.0,188.0,0.99150,3.24,0.40,11.3,5
2043,7.4,0.18,0.34,2.7,0.030,30.0,107.0,0.99200,2.97,0.53,11.0,6

In [50]:
red_data.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
20,8.9,0.22,0.48,1.8,0.077,29.0,60.0,0.99680,3.39,0.53,9.4,6
785,9.9,0.35,0.41,2.3,0.083,11.0,61.0,0.99820,3.21,0.50,9.5,5
933,7.4,0.61,0.01,2.0,0.074,13.0,38.0,0.99748,3.48,0.65,9.8,5
1338,6.0,0.50,0.00,1.4,0.057,15.0,26.0,0.99448,3.36,0.45,9.5,5
552,9.5,0.46,0.24,2.7,0.092,14.0,44.0,0.99800,3.12,0.74,10.0,6

### Concatenazione

In [83]:
white_data['Tipo'] = "white"
white_data.sample(5)


red_data['Tipo'] = "red"
red_data.sample(5)

wine = pd.concat([white_data, red_data])

wine.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Tipo
2152,7.0,0.220,0.33,2.10,0.052,15.0,76.0,0.99300,3.20,0.41,10.6,6,white
1460,8.5,0.170,0.74,3.60,0.050,29.0,128.0,0.99280,3.28,0.40,12.4,6,white
632,7.6,0.410,0.14,3.00,0.087,21.0,43.0,0.99640,3.32,0.57,10.5,6,red
1037,7.1,0.470,0.24,6.00,0.044,11.0,77.0,0.99560,3.21,0.56,9.7,5,white
3369,7.0,0.220,0.28,10.60,0.039,32.0,117.0,0.99355,3.05,0.55,11.5,7,white
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.7,3,red
4571,5.7,0.220,0.28,1.30,0.027,26.0,101.0,0.98948,3.35,0.38,12.5,7,white
2527,7.3,0.160,0.35,1.50,0.036,29.0,108.0,0.99342,3.27,0.51,10.2,6,white
339,6.6,0.180,0.35,1.50,0.049,49.0,141.0,0.99340,3.43,0.85,10.2,7,white
63,7.0,0.735,0.05,2.00,0.081,13.0,54.0,0.99660,3.39,0.57,9.8,5,red

In [85]:
wine.value_counts("Tipo")

Tipo
white    4898
red      1599
dtype: int64

In [86]:
wine.value_counts("quality")

quality
6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
dtype: int64

### Ricodifica quality